

.communityImg{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.lightMode li {
    color: black;
  }
  
  .darkMode li {
    color: white;
  }



@media(max-width:1024px){

    .communityImg{
        height:20px;
        width: 20px;
    }
}

