
.container{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


.dateIcon{
    height: 20px;
    width: 20px;
}



.themeImg{
    height: 10%;
    width: 100%;
    border-radius: 5px;
}

.gitInstruction{
    font-size: 20px;
    color: rgb(235, 96, 96);
}

.link{
    list-style-type: disc;
    margin-left: 20px;
    display: list-item;
    font-size: 1.25rem;
}

.fontSize{
    font-size: 1.25rem;
}

.switchButton{
    display: none;
}

.contentBlock{
    padding: 15px;
}

/* .textWrap{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
} */

@media(max-width:1024px){


    .fontSize{
        font-size: 1rem;
    }

    .link{
        list-style-type: disc;
        margin-left: 20px;
        display: list-item;
        font-size: 1rem;
    }

    .gitInstruction{
        font-size: 15px;
        /* color: rgb(235, 96, 96); */
    }
}

@media(max-width:768px){
    .contentBlock{
        padding: 0px;
        padding-top:10px ;
    }
    
}
