
.folderImg{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.category{
    text-decoration: none;
    color: black;
}

.switchButton{
    display: none;
}

.category:hover{
    text-decoration: underline;
}

.title{
    text-decoration: none;
    color: black;
}

