.container{
    padding: 60px 10%;
    gap: 60px;
    display: flex;
  }
  
  .leftBlock{
      flex: 2;
      min-height: 500px;
  }
  
  .showLeftBlock{
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      border-radius: 0.375rem; 
      padding: 30px 50px;
  }

  .switchButton{
    display: none;
  }
  
@media(max-width:1024px){

    .container{
        padding:50px;
    }

    .rightBlock{
        display: none;
    }

    .switchButton{
        display: flex;
    }
}

@media(max-width: 768px){

    .container{
        padding: 20px;
    }

    .showLeftBlock{
        padding:30px 25px;        
    }
}

