.header{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;    
}



.container{
    padding:60px 10%;
    gap: 40px;
    /* align-items: flex-start; */
    display: flex;
}

.leftContainer{
    padding: 30px 50px;
    flex: 2;
    background-color: white;
}

.post{
    font-weight: bold;
}

.postIcon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


li{
    color:black;
}

.switchButton{
    display: none;
}

.post:hover{
    text-decoration: underline;
}

.changeIcon{
    filter: invert(100%) brightness(200%);
}

@media(max-width:1024px){

    .container{
        padding:25px;
        margin-bottom: 0px;
    }

    .rightContainer{
        display: none;
    }
    
    .leftContainer{
        width: 100%;
        padding:30px 25px;        
    }

    .switchButton{
        display: flex;
    }

}