.userInfo{
    padding: 20px;
}

.userImgContainer{
    margin: 40px 40px 20px 40px;
    height: 100px;
    width: 100px;
}

.userName{
    text-decoration: none;
    color: black;
}

.userName:hover{
    text-decoration: underline;
}

.categoryTitle{
    display: flex;
}

.categoryTitle:hover{
    cursor: pointer;
}

.folder{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.folder:hover{
    text-decoration: underline;
}

.folderIcon{
    height: 20px;
    width: 20px;
}

.containerCA{
    cursor: pointer ;
}